.grid-container{
    position: relative;
    display: inline-grid;
    column-count: 5;
    gap: 5px;
    grid-template-columns: auto;
}

.banner{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
}

.leftAdSpace{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: auto;
    margin-left: -100px;
    left: -300px;
    width: 300px;
}

.mainBody{
    align-content: center;
    color: #FFFFFF;
    width: auto;
    margin-left: 75px;
}